<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
</head>
<body>
    <form action="/user/login" method="post">
        <label >Enter EMAIL:</label>
        <input type="text" required name="email" >
        <label >Enter PASSWORD:</label>
        <input type="text" required name="password" id>

        <button type="submit">LOGIN</button>
    </form>
    
</body>
</html>